@inject IBananaService BananaService
<button class="btn btn-info" @onclick="() => IncreaseBananasCount(100)"><span class="oi oi-plus"></span></button>
@code {
    
    public void IncreaseBananasCount(int amount)
    {
        BananaService.GrowBananas(amount);
    }
}
