@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
    
<AuthorizeView>
    <Authorized>
    <div class="sidebar">
        <NavMenu />
    </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

    <div class="main">
        <div class="top-row px-4">
            <TopMenu />
        </div>

        <div class="content px-md-3 px-sm-1 px-1">
            @Body
        </div>
    </div>
</div>


<BlazoredToasts Timeout="2" />