@inject IBananaService BananaService
@implements IDisposable
    <AuthorizeView>
        <Authorized>
            <div class="top-menu">
                <img src="icons/banana.png" alt="Bananas" />
                <span class="popover-header">
                    @BananaService.Bananas
                </span>
                <AddBananas />
            </div>
        </Authorized>
        <NotAuthorized>
            <a href="" class="text-decoration-none text-dark">Home</a>
            @*<div>
                <NavLink href="">Login</NavLink>
                <NavLink href="register">Register</NavLink>
            </div>*@
        </NotAuthorized>
    </AuthorizeView>
    @code {
        protected override void OnInitialized()
        {
            BananaService.OnChange += StateHasChanged;
        }

        public void Dispose()
        {
            BananaService.OnChange -= StateHasChanged;
        }
    }
