@page "/"
@using BlazorP1.Client.Shared;

<AuthorizeView>
    <Authorized>
        <h1 class="mt-md-5 mt-sm-2 mx-sm-2">Hi, @context.User.Identity.Name! Welcome back!</h1>
        <h3 class="mx-sm-2">Here are a quick raports of what happened while you were away.</h3>
        <div class="container-fluid">
            <div class="row py-4 justify-content-between">
                <div class="col-lg-4 col-md-12 col-sm-12 mx-sm-2 mx-md-0 mb-3 mx-0 p-lg-2 p-0">
                    <HistoryNotice />
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 mb-3 mx-sm-2 mx-md-0 mx-0 p-lg-2 p-0">
                    <BuildingNotice />
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 mb-3 mx-sm-2 mx-md-0 mx-0 p-lg-2 p-0">
                    <LeaderboardNotice />
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

