@page "/RequestPasswordChange"
@inject IUnitService UnitService
@inject NavigationManager NvManager
@inject IAuthService AuthService
@inject IToastService Toast
<div class="justify-content-center">
    <h1 class="text-center">Request Password Change</h1>
    <div class="container">
        <div class="row justify-content-center">
            <EditForm Model="UserEmail" OnValidSubmit="HamdleSubmit" class="col-lg-5 col-md-7 col-12 border rounded">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="email" class="required m-0">Email</label>
                        <InputText id="email" @bind-Value="UserEmail.Email" class="login-input"></InputText>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <button type="submit" class="form-control btn btn-primary">Request change</button>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <a href="" class="form-label">Go Back</a>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    private string email = "";
    private UserLogin UserEmail = new UserLogin();


    protected override async Task OnInitializedAsync()
    {
        await UnitService.LoadUnitsAsync();
    }

    async void HamdleSubmit()
    {
        var result = await AuthService.RequestPasswordChange(UserEmail.Email);
        if (result.Success)
        {
            Toast.ShowSuccess(result.Message);
            NvManager.NavigateTo("/");

        }
        else
        {
            Toast.ShowError(result.Message);
        }
    }
}
